<!--  {% load staticfiles %} -->

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram Clone</title>
    <style>
    .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    }

    /* The close button */
    .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    }

    /* When moving the mouse over the close button */
    .closebtn:hover {
    color: black;
    }
    </style>
</head>


<body>

        <!--------------------------------------BOX FOR SHOWING FORM ERROR--------------------------------------------->
        {% if errors %}
        <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{errors.username}}
            {{errors.name}}
            {{errors.email}}
            {{errors.password}}
        </div>
        {% endif %}




    <!--------------------------------MAIN PAGE TITLE------------------------------------------------------------------>
	<div class="main">
            <h1> Instagram Clone</h1>
            <h3>Sign Up</h3>
    </div>



    <!------------------------------------SIGNUP FORM------------------------------------------------------------------>
    <div>
        <form method="post">
            {% csrf_token %}

            <div>
                <label for="username">Username: </label>
                <input id="username" type="text" name="username" value={{ username }}>
            </div>

            <div>
                <label for="name">Name: </label>
                <input id="name" type="text" name="name" value={{ name }}>
            </div>

            <div>
                <label for="email">Email: </label>
                <input id="email" type="text" name="email" value={{ email }}>
            </div>

            <div>
                <label for="password">Password: </label>
                <input id="password" type="password" name="password" value={{ password }}>
            </div>

                <input type="submit" value="Sign Up">
        </form>


    </div><br><br>



     <!--------------------------------LINK FOR LOGIN PAGE------------------------------------------------------------->
    <div><h3>Already a user?</h3><a href="login/">Login</a> </div>
</body>
</html>