<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InstaClone</title>
</head>
<body>

{% for post in posts %}

    <h3>Posted By: {{post.user.username}}</h3>
    <img src="{{post.image_url}}">
    <span>{{post.caption}}</span>



    <div style="display:inline-block">
      <h3>{{ post.like_count }} liked this</h3>
    </div>

    <div>
        {% for comment in post.comments %}
        <p>
            {{comment.created_on}}
            {{comment.user.username}}: {{comment.comment_text}}
        </p>
        {% endfor %}
    </div>
{% endfor %}


</body>
</html>