<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InstaClone</title>
</head>
<body>


<!---------------------------ITERATING OVER USER POST------------------------------------------------------------------>
{% for post in posts %}

    <!---------------------POSTEDBY, IMAGE AND CAPTION----------------------------------------------------------------->
    <h3>Posted By: {{post.user.username}}</h3>
    <img src="{{post.image_url}}">
    <span>{{post.caption}}</span>




    <!----------------------COUNT FOR LIKE----------------------------------------------------------------------------->
    <div style="display:inline-block">
      <h3>{{ post.like_count }} liked this</h3>
    </div>




    <!----------------------------COMMENT FOR POST--------------------------------------------------------------------->
    <div>
        {% for comment in post.comments %}
        <p>
            {{comment.created_on}}
            {{comment.user.username}}: {{comment.comment_text}}
        </p>
        {% endfor %}
    </div>
{% endfor %}


<!----------PROVIDING LITTLE DETAILS AND NO FORMS BECAUSE THIS CAN BE ACCESSED WITHOUT LOGGING IN LIKE INSTAGRAM------->

</body>
</html>